PACKAGE_NAME=vrouter
PACKAGE_VERSION="{{ opencontrail_kernel_version }}"
PRE_BUILD="utils/dkms/gen_build_info.sh {{ opencontrail_kernel_version }} $dkms_tree/vrouter/{{ opencontrail_kernel_version }}/build"
MAKE[0]="'make' -C . KERNELDIR=/lib/modules/$kernelver/build"
CLEAN[0]="'make' -C . KERNELDIR=/lib/modules/$kernelver/build"
BUILT_MODULE_NAME[0]="vrouter"
DEST_MODULE_LOCATION[0]="/kernel/net/vrouter"
AUTOINSTALL="yes"
